// @import url(https://fonts.googleapis.com/css?family=Open+Sans);

.list {
   list-style: none;    
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
   li {
     float: left;
   }
}